/* default browser styles reset */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* primary site colors and transformation */
:root{
  --primaryBlack:rgb(36,41,46);
  --btnTextBlack:#24292E;
  --repoNameBlue:#0366D6;
  --repoDetailsBlack:#586069;
  --userDescriptionBlack:#24292E;
  --userNameBlack:#586069;
  --primaryWhite:rgb(255,255,255);
  --notificationBlue:linear-gradient(#54a3ff,#006eed);
  --btnBorderBlack:rgb(204, 193, 193);
  --repoCountBlack:#D1D5DA80;
  --mainGreen:#2EA44F;
  --mainGrey:#FAFBFC;
  --mainOrange:#f36440;
  --mainTransition:all 0.2s ease-in;
  --mainSpacing:0.1rem;
  --borderRadius:4px;
}
/* end of primary site colors and transformation */
html{
  scroll-behavior: smooth;
}
body{
    /* font-family: 'Public Sans', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* overflow-x:hidden; */
}
/* styles for main container */
.main-container{
  /* width:1366px; */
  margin:0 auto;
  width:100%;
  /* position: relative; */
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}