 @import url('https://fonts.googleapis.com/css?family=Bad+Script|Merienda&display=swap');

@media only screen and (max-width:400px){
  /* =============== */

  /* styles for nav bar */
  .nav-bar{
    display:flex;
    background:var(--primaryBlack);
    height: 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    /* top:0px; */
    z-index: 3;
    width:100%;
  }
  .burger{
    width:40px;
    height:40px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    cursor:pointer;

  }
.line1,.line2,.line3{
  background:var(--primaryWhite);
  width:19px;
  height:2px;
  margin:2px;
  transition:var(--mainTransition);
}
  .toggle .line1{
  transform:rotate(-45deg) translate(-5px,3px);
}
.toggle .line2{
  opacity:0;
}
.toggle .line3{
  transform:rotate(45deg) translate(-5px,-3px);
}
.logo-container{
  margin:0 auto;
  display: flex;
  justify-content: center;
  /* border:1px solid red; */
  width:80%;
}
  .logo{
    color:var(--primaryWhite);
    font-size: 1.9em;
  }
  .user-avatar-options-container ,.activities-icon-container{
    display:none;
  }
  .notifications-activies-user-avatar-container{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    width:40px;
    margin-right:20px;
  }
  .notification-icon-container{
    position: relative;
  margin-right:10px;
  }
  .bell{
    color:var(--primaryWhite);
  }

  .notification-dot{
    width:7px;
    height: 7px;
    border-radius:50px;
    background:var(--notificationBlue);
    position: absolute;
    top:-2.5px;
    right:1px;
  }
  .search-input-container{
    width:100%;
    margin:10px;
  }
  .search-input{
    width:90%;
    background:none;
    position: relative;
    border:1px solid var(--repoDetailsBlack);
    padding:.4em;
    color:var(--primaryWhite);
    border-radius: var(--borderRadius);
  }
  .info-container{
    border:1px solid var(--repoDetailsBlack);
    width:18px;
    height:18px;
    border-radius: 4px;
    position: absolute;
    right:32px;
    top:15px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    cursor: pointer;
  }
  .info{
    color:var(--repoDetailsBlack);
    font-family: "Bad script";
    font-weight: 700;
  }
  .navigation{
    position:absolute;
    top:40px;
    background:var(--primaryBlack);
    width:100%;
    display: flex;
    flex-direction:column;
    transform: translateY(-110%);
    transition: var(--mainTransition);
    z-index:1;
  }
  .nav-active{
    transform:translateY(0%);
    }
  .navigation .nav-link{
    padding:.5em;
    margin:0 10px;
    margin-bottom:7px;
    border-bottom:1px solid var(--repoDetailsBlack);
    width:90%;
    opacity:0;
  }
  .username-link{
    display:flex;
    align-items:center;
  }
  .check{
    display:inline-block;
    align-items: center;
    padding:2px;
    margin-right:3px;
  }
  .top-nav-link{
    margin-top:10px !important;
     border-top:1px solid var(--repoDetailsBlack);
  }
  .bottom-nav-link{
    margin-bottom:15px !important;
    border-bottom:none !important;
  }
  .nav-link a{
    color:var(--primaryWhite);
    text-decoration:none;
  }
  /* this animates the nav links as the enter the frame when the burger is clicked */
  @keyframes navLinkFade{
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
  }
  /* end of styles for nav bar */
  /* ========================= */

  /* styles for main view*/
  .main-view{
    display:grid;
    width:100%;
    margin:0 auto;
    grid-template-columns: 100%;
    grid-template-areas:
                "userProfile "
                "tabs "
                "repos";
  }
  /* end of styles for main view*/
  /* ================ */
  /* styles for user profile */
  .user-profile-container{
    grid-area:userProfile;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 1fr ; */
    column-gap:10px;
    grid-template-areas:
          "userAvatar userDetails userDetails"
          "userStatus userStatus userStatus"
          "aboutUser aboutUser aboutUser"
          "editProfile editProfile editProfile"
          "externalLinks externalLinks externalLinks"
          "followers followers followers";
  width:100%;
  padding:0 10px;
  margin:0 auto;
  }
  .user-avatar-container-profile{
    grid-area:userAvatar;
    width:100%;
  }
  .user-avatar{
    border-radius:50%;
    width:70px;
  }
  .user-details-container{
    grid-area:userDetails;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
  }
  .profile-name{
    color:var(--userDescriptionBlack);
    font-size:1.2em;
  }
  .username{
    color:var(--userNameBlack);
    font-size:.8em;
    font-weight:200;
  }
  .user-status-container{
    grid-area:userStatus;
    display: flex;
    align-items: center;
    width:100%;
    margin:10px auto;
    border:1px solid var(--btnBorderBlack);
    border-radius: var(--borderRadius);
   height:25px;
    color:var(--userNameBlack);
    font-size:.8em;
    padding-left:5px;
  }
  .smile{
    font-size:.9em;
  }
  .status-text{
    font-size:.6em;
  }
  .user-status-container-avatar-tag{
    display:none;
  }
  .user-statement-container{
    grid-area:aboutUser;
    margin:10px auto;
    width:100%;
  }
  .user-statement-text{
    color:var(--userDescriptionBlack);
    font-size:.8em;
  }
  .edit-profile-btn-container{
    grid-area:editProfile;
    display:flex;
    margin:10px auto;
    width:100%;
  }
  .edit-profile-btn{
    border:1px solid var(--btnBorderBlack);
    width:100%;
    height: 30px;
    border-radius: var(--borderRadius);
    color:var(--btnTextBlack);
    font-size:.9em;
    font-weight: 500;
    background:var(--mainGrey);
    cursor:pointer;
    transition:var(--mainTransition);
  }
  .edit-profile-btn:hover{
    background:var(--btnBorderBlack)
  }
  .location-container{
    display:none;
  }
  .followers-following-stars-container{
    grid-area:followers;
    margin-bottom:20px;
  }
  .external-links-container{
    grid-area:externalLinks;
    margin-bottom:5px;
  }
  .link{
    color:var(--userNameBlack);
    font-size: .8em;
    font-weight:800;
  }
  .website-link a{
    font-size:.8em;
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .social-links-container,.highlights-container,.organizations-container{
    display:none;
  }
  .followers-following-stars-container{
    display:flex;
    align-items: center;
    font-size:.8em;
    color:var(--repoDetailsBlack);
  }
  .followers-container{
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .dot{
    border:1px solid var(--repoDetailsBlack);
    width:2px;
    margin:0 5px;
    height:2px;
    color:var(--btnTextBlack);
  }
  .following-container{
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .stars-container{
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .followers-following-stars-container div{
    margin-right:3px;
  }
  .line-btn-website-link-followers{
    display:none;
  }
  /* end of styles for user profile container */
  /* =============== */

  /* styles for dashboard tabs container */
  .tabs-navigation-bar{
    grid-area:tabs;
    display: flex;
    justify-content: space-around;
    width: 100%;
    overflow-x: scroll;
    transition: 1s all linear;
  }


  .tabs-user-avatar-container{
    display: none;
  }
  .tabs-user-avatar-container{
    display:none;
  }

    /* styles for tabs */
  .tabs-container{
    display:flex;
    color:var(--repoDetailsBlack);
    font-size:.8em;
    justify-content:space-around;
    margin:10px auto;
    border-bottom: 1px solid var(--btnBorderBlack);
    width:100%;
  }
  .tabs-icons{
    display:none;
  }
  .repositories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid var(--mainOrange);
    color:var(--userDescriptionBlack);
    font-size:1em;
  }
  .repo-count{
    background: var(--repoCountBlack);
    border-radius: 10px;
    display:inline;
    width:28px;
    height:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:10px;
  }
  .tabs{
    color:var(--userDescriptionBlack);
    padding:.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: var(--mainTransition);
  }

  .tabbing-style{
    border-bottom:2px solid var(--mainOrange);
    color:var(--userDescriptionBlack);
    font-size:1em;
  }
  /* styles for the sticky tabs dashboard */
  .sticky{
    position:fixed;
    top:0;
    width:100%;
    background: var(--primaryWhite);
    transition: .5s all ease-in;
    /* padding-top:10px; */
    z-index:3;
  }
  /* .sticky + .tabs-content-view {
    padding-top:60px;
    transition: 5s all ease-in;
  } */

  /* end of style for the sticky tabs navigation */
  /* end of styles for tabs */
  /* end of styles for dashboard tabs container */
  /* ======================= */
  /* styles for tabs content view container */
  .tabs-content-view{
    grid-area:repos;
    width:100%;
  }
  .input-type-language-new-repo-container{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas:
    "inputContainer inputContainer inputContainer"
    "typeContainer typeContainer newRepoContainer" ;
    padding:0 10px;
  }
  .find-repo-container-input{
    width:100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    grid-area:inputContainer;

  }
  .find-repo-input{
    height:30px;
    border-radius: var(--borderRadius);
    width:100%;
    border:1px solid var(--btnBorderBlack);
    text-indent: 8px;
  }
  .type-language-container{
    grid-area:typeContainer;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:100%;
  }
  .type-details-container{
    grid-area:typeContainer;
    width:100%;
  }
  .type-btn{
    background:var(--mainGrey);
    height:30px;
    width:90%;
    border:1px solid var(--btnBorderBlack);
    border-radius:var(--borderRadius);
    color:var(--userNameBlack);
    font-size: .7em;
  }
  .select-language-container{
    grid-area:languageContainer ;
    width:100%;
  }
  .select-language-btn{
    background:var(--mainGrey);
    height:30px;
    border:1px solid var(--btnBorderBlack);
    border-radius: var(--borderRadius);
    color:var(--userNameBlack);
    font-size:.7em;
    width:100%;
  }
  .all-text{
    color:var(--userDescriptionBlack);
  }
  .new-repo-btn-container{
    grid-area:newRepoContainer;
    display: flex;
    justify-content: flex-end;
    width:100%;
  }
  .new-repo-btn{
    background: var(--mainGreen);
    border:none;
    height:30px;
    width:70%;
    color:var(--primaryWhite);
    border-radius: var(--borderRadius);
  }

  .individual-repo-details-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    border-top:1px solid var(--btnBorderBlack);
    border-bottom:1px solid var(--btnBorderBlack);
  }
  .repo-name-language-time-stamp-container{
    display:flex;
    flex-direction:column;
    margin-bottom: 20px;
    width:70%;
  }
  .repo-name{
    text-decoration: none;
    color:var(--repoNameBlue);
    font-size: 1.1em;
    font-weight:550;
    margin-top:20px;
    margin-bottom: 10px;
  }
  .language-used-license-applied-time-stamp-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
  }
  .language-color{
    background:var(--mainOrange);
    width:10px;
    height:10px;
    border:none;
    border-radius: 50%;
    display:inline-block;
    margin-right:3px;
  }
  .language-used{
    font-size:.8em;
    margin-right: 7px;
    display: flex;
    align-items:center;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .license-applied{
    width:100%;
    font-size:.7em;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .time-stamp{
    width:100%;
    font-size:.7em;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .repo-stars-btn-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  .repo-stars{
    background: var(--mainGrey);
    border:1px solid var(--btnBorderBlack);
    padding:.3em .6em;
    border-radius: var(--borderRadius);
    color:var(--btnTextBlack);
    font-size: .7em;
  }
  /* end of styles for tabs content view container */
  /* ========================= */
  /* styles repo-list-page-btn-container */
  .repo-list-page-btn-container{
    /* border:1px solid; */
    display: flex;
    width:70%;
    margin:0 auto;
    justify-content: center;
  }
  .previous-btn{
    padding:.3em 1em;
    background:var(--mainGrey);
    border:1px solid var(--btnBorderBlack);
    border-top-left-radius:var(--borderRadius);
    border-bottom-left-radius:var(--borderRadius);
    color:var(--repoNameBlue);
    opacity: .6;
  }
  .next-btn{
    padding:.3em 1em;
    background:var(--mainGrey);
    border:1px solid var(--btnBorderBlack);
    border-left:none;
    border-top-right-radius:var(--borderRadius);
    border-bottom-right-radius:var(--borderRadius);
    color:var(--repoNameBlue);
    font-weight:700;
  }
  /* end of styles repo-list-page-btn-container */
  /* =============== */
  /* styles for footer */
  .footer{
    border-top:1px solid var(--btnBorderBlack);
    margin:0 10px;
    margin-top:70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .copyright-container{
    color:var(--userNameBlack);
    font-size:.6em;
  }
  .important-links-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
  align-items:center;
  }
  .important-link{
    color:var(--repoNameBlue);
    font-size:.6em;
    font-weight:550;
    margin:3px;
  }
  /* end of styles for footer */
}

/* styles for large mobile of width 425px */
@media only screen and (width:425px){
    /* =============== */

  /* styles for nav bar */
  .nav-bar{
    display:flex;
    background:var(--primaryBlack);
    height: 50px;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 3;
    width:100%;
  }
  .burger{
    width:40px;
    height:40px;
    /* margin:10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    cursor:pointer;
  }
  .line1,.line2,.line3{
    background:var(--primaryWhite);
    width:19px;
    height:2px;
    margin:2px;
    transition:var(--mainTransition);
  }
    .toggle .line1{
    transform:rotate(-45deg) translate(-5px,3px);
  }
  .toggle .line2{
    opacity:0;
  }
  .toggle .line3{
    transform:rotate(45deg) translate(-5px,-3px);
  }
  .logo-container{
    margin:0 auto;
    width:100%;
    display:flex;
    justify-content: center;
  }
  .logo{
    color:var(--primaryWhite);
    font-size: 1.9em;
  }
  .user-avatar-options-container ,.activities-icon-container{
    display:none;
  }
  .notifications-activies-user-avatar-container{
    display:flex;
    align-items: center;
    margin-right:20px;
  }
  .notification-icon-container{
    position: relative;
    margin-right:10px;
  }
  .bell{
    color:var(--primaryWhite);
  }

  .notification-dot{
    width:7px;
    height: 7px;
    border-radius:50px;
    background:var(--notificationBlue);
    position: absolute;
    top:-2.5px;
    right:1px;
  }
  .search-input-container{
    width:100%;
    margin:10px;
    /* border: 1px solid; */
  }
  .search-input{
    width:90%;
    background:none;
    position: relative;
    border:1px solid var(--repoDetailsBlack);
    padding:.4em;
    color:var(--primaryWhite);
    border-radius: var(--borderRadius);
  }
  .info-container{
    border:1px solid var(--repoDetailsBlack);
    width:18px;
    height:18px;
    border-radius: 4px;
    position: absolute;
    right:39px;
    top:15px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    cursor: pointer;
  }
  .info{
    color:var(--repoDetailsBlack);
    font-family: "Bad script";
    font-weight: 700;
  }
  .navigation{
    position:absolute;
    top:50px;
    background:var(--primaryBlack);
    width:100%;
    display: flex;
    flex-direction:column;
    transform: translateY(-120%);
    transition: var(--mainTransition);
    z-index:1;
  }
  .nav-active{
    transform:translateY(0%);
    }
  .navigation .nav-link{
    padding:.5em;
    margin:0 10px;
    margin-bottom:7px;
    border-bottom:1px solid var(--repoDetailsBlack);
    width:90%;
    opacity:0;
  }
  .username-link{
    display:flex;
    align-items:center;
  }
  .check{
    display:inline-block;
    align-items: center;
    padding:2px;
    margin-right:3px;
  }
  .top-nav-link{
    margin-top:10px !important;
     border-top:1px solid var(--repoDetailsBlack);
  }
  .bottom-nav-link{
    margin-bottom:15px !important;
    border-bottom:none !important;
  }
  .nav-link a{
    color:var(--primaryWhite);
    text-decoration:none;
  }
  /* this animates the nav links as the enter the frame when the burger is clicked */
  @keyframes navLinkFade{
    from {
      opacity: 0;
      transform: translateX(50%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
  }
  /* end of styles for nav bar */
  /* ========================= */

  /* styles for main view*/
  .main-view{
    display:grid;
    width:100%;
    margin:0 auto;
    grid-template-columns: 100%;
    grid-template-areas:
                "userProfile "
                "tabs "
                "repos";
  }
  /* end of styles for main view*/
  /* ================ */
  /* styles for user profile */
  .user-profile-container{
    grid-area:userProfile;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 1fr ; */
    column-gap:10px;
    grid-template-areas:
          "userAvatar userDetails userDetails"
          "userStatus userStatus userStatus"
          "aboutUser aboutUser aboutUser"
          "editProfile editProfile editProfile"
          "externalLinks externalLinks externalLinks"
          "followers followers followers";
  width:100%;
  padding:0 10px;
  margin:0 auto;
  }
  .user-avatar-container-profile{
    grid-area:userAvatar;
    width:100%;
  }
  .user-avatar{
    border-radius:50%;
    width:70px;
  }
  .user-details-container{
    grid-area:userDetails;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
  }
  .profile-name{
    color:var(--userDescriptionBlack);
    font-size:1.2em;
  }
  .username{
    color:var(--userNameBlack);
    font-size:.8em;
    font-weight:200;
  }
  .user-status-container{
    grid-area:userStatus;
    display: flex;
    align-items: center;
    width:100%;
    margin:10px auto;
    border:1px solid var(--btnBorderBlack);
    border-radius: var(--borderRadius);
   height:30px;
    color:var(--userNameBlack);
    font-size:.9em;
    padding-left:5px;
  }
  .smile{
    font-size:1em;
  }
  .status-text{
    font-size:.6em;
    font-weight: 500;
  }
  .user-status-container-avatar-tag{
    display:none;
  }

  .status-text{
    font-size:.7em;
  }
  .user-statement-container{
    grid-area:aboutUser;
    margin:10px auto;
    width:100%;
  }
  .user-statement-text{
    color:var(--userDescriptionBlack);
    font-size:.8em;
  }
  .edit-profile-btn-container{
    grid-area:editProfile;
    display:flex;
    justify-content: center;
    margin:10px auto;
    width:100%;
  }
  .edit-profile-btn{
    border:1px solid var(--btnBorderBlack);
    width:100%;
    height:30px;
    border-radius: var(--borderRadius);
    color:var(--btnTextBlack);
    font-size:.9em;
    font-weight: 500;
    background:var(--mainGrey);
    cursor:pointer;
    transition:var(--mainTransition);
  }
  .edit-profile-btn:hover{
    background:var(--btnBorderBlack)
  }
  .location-container{
    display:none;
  }
  .followers-following-stars-container{
    grid-area:followers;
    margin-bottom:20px;
  }
  .external-links-container{
    grid-area:externalLinks;
    margin-bottom:5px;
    margin-left:5px;
  }
 .link{
    color:var(--userNameBlack);
    font-size: .8em;
    font-weight:800;
  }
  .website-link a{
    font-size:.8em;
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .social-links-container,.highlights-container,.organizations-container{
    display:none;
  }
    .followers-following-stars-container{
    display:flex;
    align-items: center;
    font-size:.8em;
    color:var(--repoDetailsBlack);
  }
  .followers-container{
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .dot{
    border:1px solid var(--repoDetailsBlack);
    width:2px;
    margin:0 5px;
    height:2px;
    color:var(--btnTextBlack);
  }
  .following-container{
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .stars-container{
    text-decoration:none;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .followers-following-stars-container div{
    margin-right:3px;
  }
  .line-btn-website-link-followers{
    display:none;
  }
  /* end of styles for user profile container */
  /* =============== */

  /* styles for dashboard tabs container */
  .tabs-container{
    grid-area:tabs;
    width: 100%;
    overflow-x: scroll;
    transition: 1s all linear;
  }
    .tabs-user-avatar-container{
    display:none;
  }
  /* styles for the sticky tabs dashboard */
  .sticky{
    position:fixed;
    top:0;
    width:100%;
    background: var(--primaryWhite);
    transition: .5s all ease-in;
    padding-top:15px;
    z-index:3;
  }
  .sticky + .main-container {
    padding-top:60px;
    transition: .5s all ease-in;
  }

  /* end of style for the sticky tabs navigation */
    /* styles for tabs */
  .tabs-container{
    display:flex;
    color:var(--repoDetailsBlack);
    font-size:.8em;
    justify-content:space-around;
    margin:10px auto;
    border-bottom: 1px solid var(--btnBorderBlack);
    width:90%;
  }
  .tabs-icons{
    margin-right:5px;
  }

  .repo-count{
    background: var(--repoCountBlack);
    border-radius: 10px;
    display:inline;
    width:28px;
    height:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left:10px;
  }
  .tabs{
    color:var(--userDescriptionBlack);
    padding:.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: var(--mainTransition);
  }
    .repositories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:2px solid var(--mainOrange);
    color:var(--btnTextBlack);
    font-size:1em;
  }

  /* end of styles for tabs */
  /* end of styles for dashboard tabs container */
  /* ======================= */
  /* styles for tabs content view container */
  .tabs-content-view{
    grid-area:repos;
    width:100%;
    padding:0 10px;
  }
  .input-type-language-new-repo-container{
    display:grid;
    width:100%;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    grid-template-areas:
    "inputContainer inputContainer inputContainer"
    "typeContainer typeContainer newRepoContainer" ;
    padding:0 10px;
  }
  .find-repo-container-input{
    width:100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    grid-area:inputContainer;

  }
  .find-repo-input{
    height:30px;
    border-radius: var(--borderRadius);
    width:100%;
    border:1px solid var(--btnBorderBlack);
    text-indent: 8px;
  }
  .type-language-container{
    grid-area:typeContainer;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    width:100%;
  }
  .type-details-container{
    grid-area:typeContainer;
    width:100%;
  }
  .type-btn{
    background:var(--mainGrey);
    height:30px;
    width:90%;
    border:1px solid var(--btnBorderBlack);
    border-radius:var(--borderRadius);
    color:var(--userNameBlack);
    font-size: .7em;
  }
  .select-language-container{
    grid-area:languageContainer ;
    width:100%;
  }
  .select-language-btn{
    background:var(--mainGrey);
    height:30px;
    border:1px solid var(--btnBorderBlack);
    border-radius: var(--borderRadius);
    color:var(--userNameBlack);
    font-size:.7em;
    width:100%;
  }
  .all-text{
    color:var(--userDescriptionBlack);
  }
  .new-repo-btn-container{
    grid-area:newRepoContainer;
    display: flex;
    justify-content: flex-end;
    width:100%;
  }
  .new-repo-btn{
    background: var(--mainGreen);
    border:none;
    height:30px;
    width:70%;
    color:var(--primaryWhite);
    border-radius: var(--borderRadius);
  }


  .individual-repo-details-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    width: 100%;
    border-bottom:1px solid var(--btnBorderBlack);
  }
  .repo-name-language-time-stamp-container{
    display:flex;
    flex-direction:column;
    margin-bottom: 20px;
    width:100%;
  }
  .repo-name{
    text-decoration: none;
    color:var(--repoNameBlue);
    font-size: 1.2em;
    font-weight:550;
    margin-top:20px;
    margin-bottom: 10px;
  }
  .language-used-license-applied-time-stamp-container{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
  }
  .language-color{
    background:var(--mainOrange);
    width:10px;
    height:10px;
    border:none;
    border-radius: 50%;
    display:inline-block;
    margin-right:3px;
  }
  .language-used{
    font-size:.8em;
     color:var(--repoDetailsBlack);
    font-weight:500;
    margin-right: 5px;
    display: flex;
    align-items:center;
  }
  .license-applied{
    font-size:.8em;
    color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .time-stamp{
    font-size:.7em;
     color:var(--repoDetailsBlack);
    font-weight:500;
  }
  .repo-stars-btn-container{
    display:flex;
    justify-content:flex-end;
    align-items: center;
    width:40%;
  }
  .repo-stars{
    background: var(--mainGrey);
    border:1px solid var(--btnBorderBlack);
   height:30px;
   width:60%;
    border-radius: var(--borderRadius);
     color:var(--repoDetailsBlack);
    font-weight:500;
    font-size: .8em;
  }
  /* end of styles for tabs content view container */
  /* ========================= */
  /* styles repo-list-page-btn-container */
  .repo-list-page-btn-container{
    display: flex;
    width:70%;
    margin:0 auto;
    justify-content: center;
  }
  .previous-btn{
    padding:.3em 1em;
    background:var(--mainGrey);
    border:1px solid var(--btnBorderBlack);
    border-top-left-radius:var(--borderRadius);
    border-bottom-left-radius:var(--borderRadius);
    color:var(--repoNameBlue);
    opacity: .6;
  }
  .next-btn{
    padding:.3em 1em;
    background:var(--mainGrey);
    border:1px solid var(--btnBorderBlack);
    border-left:none;
    border-top-right-radius:var(--borderRadius);
    border-bottom-right-radius:var(--borderRadius);
    color:var(--repoNameBlue);
    font-weight:700;
  }
  /* end of styles repo-list-page-btn-container */
  /* =============== */
  /* styles for footer */
  .footer{
    border-top:1px solid var(--btnBorderBlack);
    margin:0 10px;
    margin-top:70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction:column;
    justify-content: center;
  }
  .copyright-container{
    color:var(--userNameBlack);
    font-size:.6em;
  }
  .important-links-container{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
  align-items:center;
  }
  .important-link{
    color:var(--repoNameBlue);
    font-size:.7em;
    font-weight:550;
    margin:3px;
  }
  /* end of styles for footer */
}