 @import url('https://fonts.googleapis.com/css?family=Bad+Script|Merienda&display=swap');
/* primary site colors and transformation */
:root{
  --primaryBlack:rgb(36,41,46);
  --btnTextBlack:#24292E;
  --repoNameBlue:#0366D6;
  --repoDetailsBlack:#586069;
  --userDescriptionBlack:#24292E;
  --userNameBlack:#586069;
  --primaryWhite:rgb(255,255,255);
  --notificationBlue:linear-gradient(#54a3ff,#006eed);
  --btnBorderBlack:rgb(204, 193, 193);
    --repoCountBlack:#D1D5DA80;
  --inputBorderColor:rgb(133, 133, 133);
  --mainGreen:#2EA44F;
  --mainGrey:#FAFBFC;
  --mainTransition:all 0.5s ease-out;
  --mainSpacing:0.1rem;
  --borderRadius:4px;
  --mainOrange:#f36440;
}
/* end of primary site colors and transformation */
@media only screen and (min-width:426px) and (max-width:960px){

  /* styls for navbar */
  .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    background: var(--primaryBlack);
    height: 65px;
  }
  .burger{
    display: none;
  }
  .logo-container{
    /* border:1px solid red; */
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    color:var(--primaryWhite);
    font-size: 1.9em;
  }
  .navigation{
    background:var(--primaryBlack);
    display: flex;
    align-items:center;
    justify-content: space-around;
    /* border:1px solid red; */
    width:100%;
    margin-right:10px;
  }
  .search-input-container{
    position: relative;
    width:45%;
  }
  .search-input{
    background:none;
    border:1px solid var(--inputBorderColor);
    color:var(--btnTextBlack);
    font-size: 1em;
    height:29px;
    border-radius: var(--borderRadius);
    width:100%;
    cursor:text;
    text-indent: 8px;
  }
  .search-input:focus{
    border:1px solid var(--repoNameBlue);
    background: var(--primaryWhite);
  }
  .search-input:focus + .info-container{
    display: none;
  }
  .search-input::-webkit-input-placeholder{
    color:var(--repoCountBlack);
    text-indent: 7px;
  }
  .search-input:-moz-placeholder{
    color:var(--primaryWhite);

  }
  .info-container{
    border:1px solid var(--repoDetailsBlack);
    width:18px;
    height:18px;
    border-radius: 4px;
    position: absolute;
    top:5px;
    right:9px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
    cursor: pointer;
  }
  .info{
    color:var(--repoDetailsBlack);
    font-family: "Bad script";
    font-weight: 700;
  }
  .top-nav-link{
    display: none;
  }
  .nav-link{
    margin:5px;
  }
  .nav-link a{
    text-decoration: none;
    color:var(--primaryWhite);
    font-size: .8em;
    letter-spacing: 1.1;
  }

  .link-username,.bottom-nav-link{
    display: none;
  }
  .notifications-activies-user-avatar-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:25%;
  }
    .notification-icon-container{
    position: relative;
  }
  .bell{
    color:var(--primaryWhite);
  }

  .notification-dot{
    width:9px;
    height: 9px;
    border-radius:50px;
    background:var(--notificationBlue);
    position: absolute;
    top:-6px;
    right:0px;
  }
  .activities-icon-container{
    color:var(--primaryWhite);
    /* font-weight:100; */
    display: flex;
    align-items: center;
  }
  .plus{
    font-size:1.3em;
  }
  .user-avatar-options-container{
    display: flex;
    width:35%;
    align-items: center;
    justify-content: space-around;
  }
  .user-avatar-tablet-nav{
    width:25px;
  }
  .fa-caret-down{
    color:var(--primaryWhite);
  }

  /* end of styles for navbar */
  /* =================== */
  /* styles for tabs nav bar */

  .tabs-navigation-bar{
    display: flex;
    justify-content: space-around;
    margin:10px auto;
    border-bottom: 1px solid var(--btnBorderBlack);
    height:60px;
  }
  .tabs-container{
    display: flex;
    /* border:1px solid red; */
    justify-content:space-around;
    width:70%;
  }
  .tabs{
    margin-right: 15px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    /* border:1px solid red; */
    width:18%;
    color:var(--userNameBlack);
  }
  .sticky{
    position: fixed;
    transition: 2s all linear;
    background: var(--mainGrey);
  }
  .sticky + .main-container{
    padding-top: 60px;
  }
  .repositories{
    width:25%;
    color:var(--btnTextBlack);
    border-bottom:2px solid var(--mainOrange);
  }
  .tabs-user-avatar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:15%;
    /* border:1px solid red; */
  }
  .user-avatar-tabs{
    width:30px;
    height:30px;
    border-radius: 50%;
  }
  /* end of styles for tabs nav bar */
  /* =========================== */
}